html {
  --scroll-behavior: smooth;
  scroll-behavior: smooth;
}

.blan_c{
  color: #fff;
}

.blan_c:hover {
  color: #fff;
}

.bg-primary{
  background-color: #0077D8 !important;
}

body {
  font-family: 'Roboto', sans-serif;
}

.bg_g{
  color: var(--bs-gray-700);
}

h1,h2,h3,h4,h5 {
  font-family: 'Poppins', sans-serif;
}

header {
  align-items: center;
}

a {
  text-decoration: none;
}

ul {
  padding-left: 0;
}

ul li {
  list-style: none;
}

.log_img{
  height: 60px;
}

.img-fluid {
  border-radius: 8px;
}

.no_pad{
  padding: 0;
}

.pa-lig {
  font-weight: 300;
}

.mar-0 {
  margin: 0;
}

.mar-1 {
  margin: auto;
}

.marb_3{
  margin-bottom: 120px;
}

.mar_p{
  margin: 30px auto;
}

.prim-co1 {
  color: var(--bs-blue);
}

.prim-co2 {
  color: var(--bs-body-color);
}

.men_options{
  display: flex;
}

.navbar-nav {
  margin-right: 20px;
}

.hov-alt:hover {
  color: var(--bs-gray);
}

.icon-co {
  color: #fff;
}

.icon-16{
  max-width: 16px;
  height: 16px;
}

.btn-primary a{
  color: #fff;
  display: flex;
  align-items: center;
}

.btn-primary img{
  margin-left: 10px;
  transition: 0.5s;
}

.btn-primary:hover img{
  transform: translateX(5px);
}

.service-5 {
  font-weight: 300;
}

.service-5 a{
	text-decoration: none;
}

.service-5 .linking{
	color: var(--bs-blue);
}

.service-5 .linking:hover{
	color: #0096FC;
}

.service-5 .font-weight-medium {
	color: var(--bs-blue);
  font-size: 1.2rem;
}

.service-5 .bg-light {
    background-color: #f4f8fa !important;
}

.service-5 .subtitle {
    color: #8d97ad;
    line-height: 24px;
}

.service-5 .card.card-shadow {
    -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
    box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
}

.service-5 .wrap-service5-box .card-body {
    padding: 30px;
}

.service-5 .wrap-service5-box .text-success-gradiant {
	background: #4154f1;
	background: -webkit-linear-gradient(legacy-direction(to right), #4154f1 0%, #303fba 100%);
	background: -webkit-gradient(linear, left top, right top, from(#4154f1), to(#303fba));
	background: -webkit-linear-gradient(left, #4154f1 0%, #303fba 100%);
	background: -o-linear-gradient(left, #4154f1 0%, #303fba 100%);
	background: linear-gradient(to right, #4154f1 0%, #303fba 100%);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	text-fill-color: transparent;
}

.service-5 .wrap-service5-box .icon-size{
	font-size: 45px;
  margin-right: 24px;
}

.service-5 .btn-success-gradiant {
  background: #4154f1;
  background: -webkit-linear-gradient(legacy-direction(to right), #4154f1 0%, #303fba 100%);
  background: -webkit-gradient(linear, left top, right top, from(#4154f1), to(#303fba));
  background: -webkit-linear-gradient(left, #4154f1 0%, #303fba 100%);
  background: -o-linear-gradient(left, #4154f1 0%, #303fba 100%);
  background: linear-gradient(to right, #4154f1 0%, #303fba 100%);
}

.service-5 .btn-success-gradiant:hover {
  background: #303fba;
  background: -webkit-linear-gradient(legacy-direction(to right), #303fba 0%, #4154f1 100%);
  background: -webkit-gradient(linear, left top, right top, from(#303fba), to(#4154f1));
  background: -webkit-linear-gradient(left, #303fba 0%, #4154f1 100%);
  background: -o-linear-gradient(left, #303fba 0%, #4154f1 100%);
  background: linear-gradient(to right, #303fba 0%, #4154f1 100%);
}

.service-5 .btn-md {
  padding: 15px 45px;
  font-size: 16px;
}

.clients-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 120px 0px;
}

.clients-logos{
  display: flex;
  justify-content: center;
}

.clients-logos img{
  width: 150px;
  max-width: 150px;
  margin: 40px;
}

.bg-primary{
	background: $primary !important;
}

.ftco-section{
	padding: 7em 0;
}

.ftco-no-pt{
	padding-top: 0;
}
.ftco-no-pb{
	padding-bottom: 0;
}
//HEADING SECTION
.heading-section{
	font-size: 28px;
	color: $black;
}

//COVER BG
.img{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.form-control {
	height: 52px;
	background: #fff;
	font-size: 14px;
	border-radius: 2px;
	box-shadow: none !important;
	border: 1px solid rgba(0,0,0,.1);
	&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  color: rgba(0,0,0,.7) !important;
	}
	&::-moz-placeholder { /* Firefox 19+ */
	  color: rgba(0,0,0,.7) !important;
	}
	&:-ms-input-placeholder { /* IE 0+ */
	  color: rgba(0,0,0,.7) !important;
	}
	&:-moz-placeholder { /* Firefox 18- */
	  color: rgba(0,0,0,.7) !important;
	}
	&:focus, &:active {
		border-color: rgba(0,0,0,.1);
	}
}
textarea.form-control {
	height: inherit!important;
}


.wrapper{
	width: 100%;
	-webkit-box-shadow: 0px 21px 41px -13px rgba(0,0,0,0.18);
	-moz-box-shadow: 0px 21px 41px -13px rgba(0,0,0,0.18);
	box-shadow: 0px 21px 41px -13px rgba(0,0,0,0.18);
}
.contact-wrap{
	background: #fff;
}

.info-wrap{
	h3{
		color: #fff;
	}
	.dbox{
		width: 100%;
		color: rgba(255,255,255,.8);
		margin-bottom: 25px;
		&:last-child(){
			margin-bottom: 0;
		}
		p{
			margin-bottom: 0;
			span{
				font-weight: 600;
				color: #fff;
			}
			a{
				color: #fff;
			}
		}
		.icon{
			width: 50px;
			height: 50px;
			border-radius: 50%;
			background: rgba(255,255,255,.1);
			span{
				font-size: 20px;
				color: #fff;
			}
		}
		.text{
			width: calc(100% - 50px);
		}
	}

p a{
  color: #fff;
}

	@include media-breakpoint-up(lg){
		margin-top: -20px;
		margin-bottom: -20px;
		border-radius: 5px;
	}
}

.btn {
	padding: 12px 16px;
	cursor: pointer;
	border-width: 1px;
	border-radius: 5px;
	font-size: 14px;
	font-weight: 400;
	-webkit-box-shadow: 0px 10px 20px -6px rgba(0,0,0,0.12);
	-moz-box-shadow: 0px 10px 20px -6px rgba(0,0,0,0.12);
	box-shadow: 0px 10px 20px -6px rgba(0,0,0,0.12);
	position: relative;
	margin-bottom: 20px;
	@include transition(.3s);
	&:hover, &:active, &:focus {
		outline: none !important;
		-webkit-box-shadow: 0px 10px 20px -6px rgba(0,0,0,0.22) !important;
		-moz-box-shadow: 0px 10px 20px -6px rgba(0,0,0,0.22) !important;
		box-shadow: 0px 10px 20px -6px rgba(0,0,0,0.22) !important;
	}
	&.btn-primary {
		background: $primary !important;
		border-color: $primary !important;
		color: #fff;
		&:hover,&:focus{
			border-color: darken($primary,10%) !important;
			background: darken($primary,10%) !important;
		}
	}
}

//Forms style
#contactForm {
	.error {
		color: red;
		font-size: 12px;
	}
	.form-control {
		font-size: 16px;
	}
}
#message {
	resize: vertical;
}
#form-message-warning, #form-message-success {
	display: none;
}
#form-message-warning {
	color: red;
}
#form-message-success {
	color: $success;
	font-size: 18px;
	font-weight: bold;
}
.submitting {
	float: left;
	width: 100%;
	padding: 10px 0;
	display: none;
	font-size: 16px;
	font-weight: bold;
}

.form-group {
    margin-bottom: 1rem;
}

.pl-3, .px-3 {
    padding-left: 1rem !important;
}

.info-wrap {
    border-radius: 5px;
}

.info-wrap h3 {
    color: #fff;
}

.info-wrap .dbox {
    width: 100%;
    color: #fff;
    margin-bottom: 25px;
}

.info-wrap .dbox .icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
}

.info-wrap .dbox .text {
    width: calc(100% - 50px);
    text-align: left;
}

.info-wrap .dbox p span {
    font-weight: 600;
    color: #fff;
}

.align-items-stretch {
    -webkit-box-align: stretch !important;
    -ms-flex-align: stretch !important;
    align-items: stretch !important;
}

.align-items-center {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
}
